<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Slim 3 Application</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ base_url() }} /vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url() }} /css/style.css" rel="stylesheet">
</head>
<body>
{% include 'templates/partials/navigation.twig' %}

<div class="container" id="container-wrapper">
    {% include 'templates/partials/flash.twig' %}
    {% block content %}{% endblock %}
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ base_url() }} /vendors/js/jquery.min.js"><\/script>')</script>
<script src="{{ base_url() }} /vendors/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>